#header {
    background-image: url("meru.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-position-x: center;
    filter: saturate(60%) brightness(150%);
}
#header-text {
    position: absolute;
    width: 60vw;
    filter: grayscale(0%);
    color: #000;
    transform: translateX(-50%);
    left: 50%;
    top: 60vh;
    text-align: center;
}
h1 {
    font-size: 3.6vh;
}
h3 {
    font-size: 2.4vh;
}
